/* .card {
	background-color: white;
	color: #272727;
	width: 100%;
	max-width: 350px;
	padding: 20px;
	border-radius: 10px;
	border: 2px solid tomato;
	transition: 200ms;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
   */
  .card:hover {
	transform: scale(1.12);
	border-color: #ff6347;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
	display: flex;
	flex-direction: initial;
	align-items: center;
	background-color: rebeccapurple;
	}
  
  .profile {
	width: 2.5rem;
	height: 2.5rem;
	background-color: tomato;
	border-radius: 50%;
	margin-right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: bold;
	color: white;
  }
  
  .letter {
	color: blueviolet;
	display: flex;
	justify-content: center;

	flex-direction: row;
  	font-size: 2em;
	 align-items: center;
	 align-self: center;
  }
  
  .card-title-group {
	flex: 1;
  }
  
.title{
	color: rgb(255, 255, 255);
	text-align: center;
}
  
  .card-title {
	font-size: large;
	margin-top: 0;
	color: rgb(255, 255, 255);
	text-align: center;
  }
  
  .card-image {
	border-radius: 10px;
	width: 300px;
	padding: 30px;;
	max-height: 100%;
	object-fit: cover;
  }
  
  .card-title {
	display: flex;
	flex-direction: row;
	font-size: 2em;
	align-items: center;
	 align-self: center;
	 justify-content: center;
	 margin-top: 40px;
	 margin-bottom: 70px;

	color: rgb(238, 238, 238);
  }
  
  .card-like-bar {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
  }
  
  .card-text {
	font-size:large;
	margin : 10px;
	color: white;

  }
  
  /* Rest of your existing styles */


  
  .upvote-icon,
  .downvote-icon,
  .coin-icon {
	font-size: 35px;
	cursor: pointer;
	margin: 5px;
  }
  
  .upvote-icon {
	color: green;
  }
  
  .downvote-icon {
	color: red;
  }
  
  .coin-icon {
	color: goldenrod;
  }


  /* --------------------- */


  .card {
	color: white;
	width: fit-content;
	padding: 24px;
	border-radius: 10px;
	border: 1px solid blue;
	transition: 200ms;
	box-shadow: 0px 0px 150px  10px  blue;
	display: flex;
	flex-direction: column;
	max-width: 480px;
	margin: 50px;
	background-color: rebeccapurple;
}
.cardheader{

	flex-direction:  row;
	display: flex;
	align-items: center;
	background-color: rgb(2, 19, 203);

}
  
  .voting-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;


}
  .profile-icons {
	flex-direction: column;
	display: flex;
	justify-content: flex-start;
	align-items: center;

}

.voting-section-content{
display: flex;
flex-direction: column;
justify-content: flex-start;
}

.card-icon{
	color: white;
}

.button-decoration
{
	box-shadow: 10px 10px 10px  blueviolet;
	border-radius: 9px 9px 9px 2px;
	padding: 10px;
}
/* background-color: rebeccapurple; */
