.card {
	background-color: white;
	color: #272727;
	width: 100%;
	max-width: 480px;
	padding: 20px;
	border-radius: 10px;
	border: 2px solid tomato;
	transition: 200ms;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card:hover {
	transform: scale(1.02);
	border-color: #ff6347;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
	display: flex;
	align-items: center;
  }
  
  .profile {
	width: 2.5rem;
	height: 2.5rem;
	background-color: tomato;
	border-radius: 50%;
	margin-right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: bold;
	color: white;
  }
  
  .letter {
	color: blueviolet;
	
  }
  
  .card-title-group {
	flex: 1;
  }
  
  .card-title {
	font-size: large;
	margin-bottom: 5px;
	margin-top: 0;
	color: blue;
	text-align: center;
  }
  
  .card-image {
	border-radius: 10px;
	width: 100%;
	padding: 30px;;
	max-height: 100%;
	object-fit: cover;
  }
  
  .card-text {
	display: flex;
	flex-direction: row;
	font-size: 2em;
	align-items: center;
	 align-self: center;
	color: rgb(0, 0, 0);
  }
  
  .card-like-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
  }
  
  .like-text {
	font-size: small;
	margin-left: 5px;
  }
  
  /* Rest of your existing styles */

.profile-icons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  
  .upvote-icon,
  .downvote-icon,
  .coin-icon {
	font-size: 24px;
	cursor: pointer;
	margin: 5px;
  }
  
  .upvote-icon {
	color: green;
  }
  
  .downvote-icon {
	color: red;
  }
  
  .coin-icon {
	color: goldenrod;
  }
  